08-n8n/02_EDA_Trigger_Workflow_A_0519.json
{
  "name": "02_EDA_Trigger_Workflow_A_0519",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9a1d6d25-2a9b-4906-afd7-21c3b4a49860",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        0
      ],
      "id": "e4569fc3-416b-484c-a9d9-429760fc87a3",
      "name": "Webhook",
      "webhookId": "9a1d6d25-2a9b-4906-afd7-21c3b4a49860"
    },
    {
      "parameters": {
        "command": "cat \"$(ls -dt /diagnose/*/ | head -1)/issues_latest.txt\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        176,
        -16
      ],
      "id": "737bc4a4-3e1e-468b-bd59-fbf50a6ce03f",
      "name": "ssh",
      "credentials": {
        "sshPassword": {
          "id": "UxymklOCjDHvhtN6",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Prepare Data').item.json.dataForAI }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "你是一名RHEL系统故障诊断助手。请基于输入的日志、诊断数据、报错信息，结合Linux常见问题解决经验，提供以下输出：1. 输出初步结论; 2.输出根因分析，以及支撑根因分析结果的诊断数据或过程；\n3. 给出处理建议和总结；\n不要编造不存在的信息，如无明确依据，请说明“不确定”或建议收集更多数据。",
          "passthroughBinaryImages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        -48
      ],
      "id": "354944b1-e7f5-4903-8872-907246ccf075",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare Data').item.json.incidentSessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        672,
        320
      ],
      "id": "b1d518b2-f6da-403d-a935-3a864b30ae71",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// 获取 SSH 节点的完整输出文本\nconst rawText = $json.stdout;\nif (!rawText) {\n  throw new Error(\"SSH node did not return any text.\");\n}\n\n// 从 Webhook 节点获取原始告警信息\nconst alertInfo = $('Webhook').item.json.body;\nconst alertName = alertInfo.alert_name || 'GenericAlert';\n\n// 1. 准备一个只包含本次任务所需数据的字符串\nconst dataForAI = `\n--- ALERT METADATA ---\nAlert Name: ${alertName}\nInstance: ${alertInfo.alert_instance}\nSeverity: ${alertInfo.severity}\nStatus: ${alertInfo.status}\nTimestamp: ${alertInfo.starts_at}\n\n--- FULL DIAGNOSTIC REPORT ---\n${rawText}\n`;\n\n// 2. 创建唯一的 Session ID (这部分逻辑不变)\nconst date = new Date().toISOString().slice(0, 10).replace(/-/g, '');\nconst hash = Math.random().toString(36).substring(2, 8);\nconst incidentSessionId = `${alertName}-${date}-${hash}`;\n\n// 3. 将处理好的数据作为本节点的输出\nreturn [\n  {\n    json: {\n      dataForAI: dataForAI, // **注意**：字段名已更改，只包含数据\n      alertName: alertName,\n      incidentSessionId: incidentSessionId\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -16
      ],
      "id": "aa43d689-4c3f-4f08-869a-f4f6d6a7517e",
      "name": "Prepare Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.210.65.14:8065/hooks/rei99b3puibouc53zw9gju6fcr",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=`### 🚨 AIOps 告警分析报告: {{ $('Prepare Data').item.json.alertName }}\n\n---\n{{ $('AI Agent').item.json.output }}\n\n---\n*由AAP SSA n8n AIOps 机器人自动分析。*\n\n---\n**Incident ID:** \\`{{ $('Prepare Data').item.json.incidentSessionId }}\\`\n(如需交互，请在此消息下回复，并以 \\`!ai\\` 开头)\n`"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        0
      ],
      "id": "033ee683-bed3-4448-8373-118028b3537b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        336,
        304
      ],
      "id": "158b1975-3c0b-48aa-a6db-3a2b0e97a5ad",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "Oe7T3ra6QfUa8NPu",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $('Prepare Data').item.json.incidentSessionId }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1040,
        -32
      ],
      "id": "c393f2eb-69f0-4631-906b-13c4452c832d",
      "name": "Chat Memory Manager"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ssh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ssh": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "39fecf53-37c5-4c07-98b8-706a509cd758",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e451800a1ad80238001b362c2ebb4fea67e00aca5a0e36228f6f47fc49989ae"
  },
  "id": "ujR0Ufc7ya6qzrTN",
  "tags": []
}